

.main-header{
    position: absolute;
    top: 0;
    left: 0;
    height: 60px;
    width: 100%;
    border-radius: 5px;
    border-bottom: 2px solid #e0e0e0;
}

.header-grid-container{
    display: grid;
    grid-template-columns: 60px auto 60px;
}

.logout-button{    
    border: none;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    cursor: pointer;
}



.header-left-over{
    position: relative;
    height: 100%;
    width: 100%;
    text-align: center;
    margin-top: 17px;
}

.svg-style{
    height: 25px ;
    width: 25px ;
    color: #363636;
}